:root {
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --aqua: #14d9c4;
  --cool-grey: #b8b8b9;
  --blue-green: #099d8d;
  --grey: #54585a;
  --secondary-font: "Rubik", sans-serif;
}
html {
  font-family: "Open Sans", sans-serif;
}

/* IRENE: HEADER */

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--blue-green);  
 
}

.team-name{
color: white;   
text-align: center;
line-height: 50px;
font-size: 16px;
font-weight: bold; 
background-color: var(--blue-green);
height: 60px;
padding-top: 15px;  
}
.menu{
    color: white;   
    text-align: center;
    font-size: 16px;
    font-weight: bold; 
    height: 45px;
    background-color: var(--aqua);        
}


ul.menu li{
display:inline-block;
margin-top: 12px;

}

ul.menu li a{
text-decoration: none;
color: white;  
font-weight: bold;
}

.team{
color: white;  
font-weight: bold;
margin: 0 15px 0 0;
}
.who{
color: white;
font-weight: bold; 
margin: 0 15px;
}

.contact{
color: white;
font-weight: bold;
margin: 0 0 0 15px;
}


/* MAYTE: HERO Y TEAM */

main {
  display: flex;
  flex-direction: column;
}

.image {
    width: 100%;
    justify-items: top;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  height: 60px;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -45px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  background-color: white;
}

.team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-margin-top: 95px;
}

.team .title {
  font-family: var(--secondary-font);
  color: var(--aqua);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
}

.team .text {
  margin: 15px;
  color: #54585a;
  font-size: 16px;
  line-height: 1.5;
}

/* ************ DEBILIDADES Y FORTALEZAS */
.strengths {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 320px;
  height: auto;
  align-content: center;
  padding: 45px 15px;
  background-color: var(--cool-grey);
}
.strenghts-container {
  /*   display: block; */
  margin-right: 15px;
  padding: 0 15px;
  width: 290px;
  height: auto;
}
.strengths span {
  position: absolute;
  transform: rotate(45deg);
  top: -12px;
  left: calc(50% - 25px);
  width: 25px;
  height: 25px;
  background-color: white;
}
.strengths-title {
  margin-top: 30px;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 400;
  color: var(--blue-green);
}
.strengths-text {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
}

/* LILI: QUIENES SOMOS */

.profile-container {
  text-align: center;
}

.section-quienes-somos {
  padding-left: 15px;
  padding-right: 15px;
  scroll-margin-top: 95px;
}

.question {
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 24px;
  text-align: center;
  color: var(--blue-green);
  margin-top: 30px;
  margin-bottom: 30px;
}

.photo {
  width: 180px;
  height: 180px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: solid 5px var(--black-8);
}

.name {
  font-family: var(--principal-font);
  font-size: 20px;
  margin-bottom: 15px;
}

.profile {
  font-family: var(--principal-font);
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-weight: 100;
}

.icon-social-network {
  color: var(--blue-green);
  font-size: 16px;
  margin-right: 15px;
}

.icon-social-network::after {
  content: ".";
  position: relative;
  bottom: 5px;
  left: 8px;
}

.icon-social-network:last-child::after {
  content: "";
}

.container-social-network {
  margin-bottom: 30px;
}

/* SILVIA: FOOTER */

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  border-top: 1px solid #b8b8b9;
}

.Copyright {
  width: 100;
  margin-top: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #b8b8b9;
  font-size: 14px;
}

.links {
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  color: #54585a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.class-1 {
  text-decoration: none;
  line-height: 20px;
  text-transform: uppercase;
  color: #54585a;
  font-size: 14px;
}

.logo {
  align-self: center;
  margin-bottom: 45px;
}

.image-logo {
  height: 45px;
}
/* ******* hero contacto****** */
.hero-contact {
  width: 100%;
  height: auto;
}
.img-contact {
  display: inline-block;

  background-image: url(../images/foto-prueba.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-width: 320px;
  height: 40vh;

  background-position: center;
}
