@media screen and (min-width: 768px) {
 .slogan {
   padding: 15px 30px 15px 30px;
   opacity: 0.8;
   width: 381px;
   height: 50px;
   margin-top: -81px;
   margin-left: 46px;
 }

 .team {
   margin-top: 45px ;
 }

}
