<footer class="footer-container">
  <div class="Copyright">
    <p>GLIMS &copy; 2022</p>
  </div>
  <div class="links">
    <ul>
      <li><a href="./index.html#Equipo" class="class-1">Equipo</a></li>
      <li>
        <a href="./index.html#Quienes" class="class-1">Quiénes somos</a>
      </li>
      <li><a href="./contacto.html" class="class-1">Contacto</a></li>
    </ul>
  </div>
  <div class="logo">
    <img
      class="image-logo"
      src="./assets/images/logo-adalab.png"
      alt="Logo Adalab"
    />
  </div>
</footer>
