<section class="strengths">
  <span></span>
  <article class="strenghts-container">
    <h3 class="strengths-title">Fortalezas</h3>
    <p class="strengths-text">
      Somos un grupo de profesionales que cree de manera firme en el trabajo en
      equipo. No le tenemos miedo a los retos y disfrutamos cuando llegamos a la
      meta. Nuestro experiencia profesional, proveniente de diferentes ramas del
      conocimiento, es clave al momento de desarrollar proyectos; formamos una
      constelación, juntas creamos productos brillantes.
    </p>
  </article>

  <article class="strenghts-container">
    <h3 class="strengths-title">Debilidades</h3>
    <p class="strengths-text">
      El perfeccionismo nos puede jugar en contra, pero hemos aprendido que, si
      las soluciones no están a la vista, podemos aplicar nuestra creatividad
      para encontrarlas. Somos conscientes de que cuando hay nubes, las
      estrellas no brillan. Además, no hay código que se nos resista.
    </p>
  </article>
</section>
