<section class="team" id="Equipo">
  <h2 class="title">EQUIPO</h2>
  <p class="text1">
    Somos Guadalupe, Lilibet, Irene, Mayte y Silvia, cinco chicas que decidieron
    cambiar de profesión para convertirse en front end developers. Si algo nos
    une son las ganas de aprender y de llegar muy alto, casi hasta las
    estrellas, pero a estrellas que giren alrededor del código.
  </p>

  <p class="text2">
    GLIMS es un acrónimo de nuestros nombres, y también son las iniciales de
    Guerreras, Listas, Ingeniosas, Majas y Sobresalientes; podríamos decir que
    la M es de modestas, pero parece que eso no se nos da muy bien.
  </p>
</section>
