/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

/* ******  RESET ****** */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ******** HOJA DE ESTILOS********** */

:root {
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --aqua: #14d9c4;
  --cool-grey: #b8b8b9;
  --blue-green: #099d8d;
  --grey: #54585a;
  --secondary-font: "Rubik", sans-serif;
}
html {
  font-family: "Open Sans", sans-serif;
}

/* IRENE: HEADER */

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--blue-green);
  text-transform: uppercase;
}

.team-name {
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--blue-green);
  height: 60px;
  padding-top: 15px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: bold;
  height: 45px;
  background-color: var(--aqua);
}

ul.menu li {
  margin-top: 12px;
}

ul.menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.teamheader {
  color: white;
  font-weight: bold;
}

.who {
  color: white;
  font-weight: bold;
}
.contact {
  color: white;
  font-weight: bold;
}

/* MAYTE: HERO Y TEAM */

main {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  justify-items: top;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  height: 60px;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -45px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  background-color: white;
}

.team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-margin-top: 95px;
}

.team .title {
  font-family: var(--secondary-font);
  color: var(--aqua);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
}

.team-text {
  margin: 15px;
  color: #54585a;
  font-size: 16px;
  line-height: 1.5;
}

/* ************ DEBILIDADES Y FORTALEZAS */
.strengths {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 320px;
  height: auto;
  align-content: center;
  padding: 45px 15px;
  background-color: var(--cool-grey);
}
.strenghts-container {
  /*   display: block; */
  margin-right: 15px;
  padding: 0 15px;
  width: 290px;
  height: auto;
}
.strengths span {
  position: absolute;
  transform: rotate(45deg);
  top: -12px;
  left: calc(50% - 25px);
  width: 25px;
  height: 25px;
  background-color: white;
}
.strengths-title {
  margin-top: 30px;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 400;
  color: var(--blue-green);
}
.strengths-text {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
}

/* LILI: QUIENES SOMOS */

.profile-container {
  text-align: center;
}

.section-quienes-somos {
  padding-left: 15px;
  padding-right: 15px;
  scroll-margin-top: 95px;
}

.question {
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 24px;
  text-align: center;
  color: var(--blue-green);
  margin-top: 30px;
  margin-bottom: 30px;
}

.photo {
  width: 180px;
  height: 180px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: solid 5px var(--black-8);
}

.name {
  font-family: var(--principal-font);
  font-size: 20px;
  margin-bottom: 15px;
}

.profile {
  font-family: var(--principal-font);
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-weight: 100;
}

.icon-social-network {
  color: var(--blue-green);
  font-size: 16px;
  margin-right: 15px;
}

.icon-social-network::after {
  content: ".";
  position: relative;
  bottom: 5px;
  left: 8px;
}

.icon-social-network:last-child::after {
  content: "";
}

.container-social-network {
  margin-bottom: 30px;
}

/* SILVIA: FOOTER */

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  border-top: 1px solid #b8b8b9;
}

.Copyright {
  width: 100;
  margin-top: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #b8b8b9;
  font-size: 14px;
}

.links {
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  color: #54585a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.class-1 {
  text-decoration: none;
  line-height: 20px;
  text-transform: uppercase;
  color: #54585a;
  font-size: 14px;
}

.logo {
  align-self: center;
  margin-bottom: 45px;
}

.image-logo {
  height: 45px;
}
/* ******* hero contacto****** */
/* main {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  justify-items: top;
} */
.hero-contact {
  width: 100%;
  height: auto;
}
.img-contact {
  display: inline-block;

  background-image: url(../images/foto-prueba.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  min-width: 320px;
  height: 40vh;

  background-position: center;
}

/* ***** contact***** creo que cuando hagamos particiones no hará falta */
.contact-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form .contact-title {
  margin-top: 30px;
  font-family: var(--secondary-font);
  color: var(--aqua);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  text-transform: uppercase;
  text-align: center;
}
.contact-form .text {
  margin: 15px auto;
  max-width: 500px;
  color: #54585a;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px;
  text-align: center;
  color: var(--grey);
}

.contact-form .secondary-text {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: var(--grey);
}
.secondary-text::first-letter {
  text-transform: uppercase;
}

.secondary-text span {
  color: var(--aqua);
}
.contact-form .form {
  width: 90%;
  max-width: 420px;
  height: 570px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-form .form-items {
  display: flex;
  flex-direction: column;
}
.form-items label {
  margin-top: 20px;
  color: var(--grey);
  font-size: 14px;
}
.form-items label:first-letter {
  text-transform: uppercase;
}

.form-items span {
  color: var(--aqua);
}
.form-items input {
  margin-top: 20px;
  height: 45px;
}
.form-items #mesage {
  height: 105px;
}
/* .mesage-text[type="text"] {
  vertical-align: top;
} */
.form-items .submit {
  margin-top: 40px;
  border-radius: 4px;
  background-color: var(--blue-green);
  border: none;
}
.submit[type="submit"] {
  color: white;
  text-transform: uppercase;
}

/* ****** css tablet version***** */

@media screen and (min-width: 768px) {
  .slogan {
    padding: 15px 30px 15px 30px;
    opacity: 0.8;
    width: 381px;
    height: 50px;
    margin-top: -81px;
    margin-left: 46px;
  }

  .team {
    margin-top: 45px;
  }
  .contact-form .form {
    max-width: 442px;
  }

  .form {
    position: relative;
  }
  .form-items .submit {
    position: absolute;
    right: 0;
    bottom: 60px;
    width: 205px;
    max-width: 205px;
    transform: rotate(45deg);
    top: -12px;
    left: calc(50% - 25px);
    width: 25px;
    height: 25px;
    background-color: white;
  }
  .strengths-title {
    margin-top: 30px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: 400;
    color: var(--blue-green);
  }
  .strengths-text {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
  }

  /* LILI: QUIENES SOMOS */

  .profile-container {
    text-align: center;
  }

  .section-quienes-somos {
    padding-left: 15px;
    padding-right: 15px;
    scroll-margin-top: 95px;
  }

  .question {
    width: 100%;
    font-family: var(--secondary-font);
    font-size: 24px;
    text-align: center;
    color: var(--blue-green);
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .photo {
    width: 180px;
    height: 180px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: solid 5px var(--black-8);
  }

  .name {
    font-family: var(--principal-font);
    font-size: 20px;
    margin-bottom: 15px;
  }

  .profile {
    font-family: var(--principal-font);
    font-size: 16px;
    max-width: 343px;
    margin: auto;
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: 100;
  }

  .icon-social-network {
    color: var(--blue-green);
    font-size: 16px;
    margin-right: 15px;
  }

  .icon-social-network::after {
    content: ".";
    position: relative;
    bottom: 5px;
    left: 8px;
  }

  .icon-social-network-last::after {
    content: "";
  }

  .container-social-network {
    margin-bottom: 30px;
  }

  /* SILVIA: FOOTER */

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border-top: 1px solid var(--cool-grey);
  }

  .Copyright {
    width: 100;
    margin-top: 30px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #b8b8b9;
    font-size: 14px;
  }

  .links {
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    color: var(--grey);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .class-1 {
    text-decoration: none;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--grey);
    font-size: 14px;
  }

  .logo {
    align-self: center;
    margin-bottom: 45px;
  }

  .image-logo {
    height: 45px;
  }
  /* ******* hero contacto****** */
  .hero-contact {
    width: 100%;
    height: auto;
  }
  .img-contact {
    display: inline-block;

    background-image: url(../images/foto-prueba.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    min-width: 320px;
    height: 40vh;

    background-position: center;
  }

  /* ****** css tablet version***** */

  @media screen and (min-width: 768px) {
    .slogan {
      padding: 15px 30px 15px 30px;
      opacity: 0.8;
      width: 381px;
      height: 50px;
      margin-top: -81px;
      margin-left: 46px;
    }

    .team {
      margin-top: 45px;
    }
  }
  @media screen and (min-width: 768px) {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-size: 60px;
    }
    .team-name {
      margin-left: 45px;
      margin-top: 6px;
    }

    .menu {
      background-color: var(--blue-green);
      margin-top: 15px;
      margin-right: 45px;
    }

    ul.menu li {
      display: flex;
      padding: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    .ul {
      padding-right: 45px;
      padding-bottom: 27px;
    }
    .links {
      position: absolute;

      text-align: end;
      justify-content: end;
      line-height: 30px;
    }
    .logo {
      align-self: start;
      margin-left: 45px;
      padding-bottom: 15px;
    }

    .Copyright {
      text-align: left;
      padding-bottom: 15px;
      padding-left: 45px;
      line-height: 20px;
    }
  }

  /* ********* css desktop version***** */

  @media screen and (min-width: 1200px) {
    .slogan {
      width: 514px;
      height: 60px;
      margin-top: -81px;
      margin-left: 138px;
    }
    .strenghts-container {
      width: 440px;
    }
    .contact-form .form {
      max-width: 600px;
    }
    .form-items .submit {
      right: 0;
      bottom: 160px;
      width: 278px;
      max-width: 278px;
    }
  }

  @media screen and (min-width: 1200px) {
    .ul {
      padding-right: 140px;
      padding-bottom: 17px;
    }

    .logo {
      margin-left: 138px;
      padding-bottom: 5px;
    }

    .Copyright {
      padding-left: 138px;
    }
  }

  /* ***** no pide en versión pantalla tan grande pero es que quedaba mal posicionado el botón */
  @media screen and (min-width: 1440px) {
    .form-items .submit {
      right: 0;
      bottom: 80px;
      width: 278px;
      max-width: 278px;
    }
  }
}
